<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>v-for在组件中的使用</title>
	<script src="jquery-3.1.1.min.js"></script>
	<script src="vue.js"></script>
	<script type="text/javascript">
		window.onload  = function(){
			Vue.component('todo-item',{
				template:"<li>{{ title }} <button v-on:click='$emit(\"remove\")'>X</button></li>",
				props:["title"]
			})
			var vm = new Vue({
				el:'#box',
				data:{
					newTodoText:'',
					todos:[
						{id: 1,title: 'Do the dishes',},
						{id: 2,title: 'Take out the trash',},
						{id: 3,title: 'Mow the lawn'}
					],
					nextTodoId:4
				},
				computed:{
					addNewTodo:function(){
						this.todos.push({id:this.nextTodoId++, title:this.newTodoText})
						this.newTodoText = ''				//清空表单内容
					}
				}
			})
			console.log(vm.todos);
		}
	</script>
</head>
<body>
	<div id="box">
		<input type="text" v-model="newTodoText" v-on:keyup.enter="addNewTodo" placeholder="add to todo">
		<ul>
			<li is='todo-item' v-for="(value,index) in todos" v-bind:key="value.id" v-bind:title="value.title"
			 v-on:remove="todos.splice(index,1)"></li>
		</ul>
	</div>
</body>
</html>